# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# VSCode and other IDEs
.vscode/
.idea/

# macOS files
.DS_Store

# Python Virtual Env
voynich_env/
venv/
*.pyenv
.Python
env/
.env/

# cache files Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos gerados / pastas de resultados de experimentos
my_voynich_experiment/


# Arquivos de IDE / Editor
.vscode/
.idea/
*.swp
*~

# Results
results_2/
results_AB_docx_no_strip/

